  /*
Reference: http://bl.ocks.org/davegotz/bd54b56723c154d25eedde6504d30ad7
*/
.d3-tip {
  line-height: 1;
  font-weight: sans-serif;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  }
  
  /*
  Reference: http://bl.ocks.org/davegotz/bd54b56723c154d25eedde6504d30ad7
  */
  .d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
  }
  
  /*
  Reference: http://bl.ocks.org/davegotz/bd54b56723c154d25eedde6504d30ad7
  */
  .d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  }

  #mD_svg rect:hover {
    fill: #fec44f;
  }
  
  #mD_tooltip {
    position: absolute;
    width: 295px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
  }
  
  #mD_tooltip.hidden {
    display: none;
  }
  
  #mD_tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
  }

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #dcdcdc;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

#marijuana-history .ticks {
  font-size: 12px;
}

#marijuana-history .countries {
  fill: grey;
  stroke: #fff;
  stroke-linejoin: round;
}